---
{
    "urlFormat": "about.html"
}
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About Consumer Auth!</title>
    <meta name="description" content="About {{global.name}}">
    {{>head}}
    {{!-- <link href="https://unpkg.com/tailwindcss/dist/tailwind.min.css" rel="stylesheet"> --}}
    <!--Replace with your tailwind.css once created-->
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:200,400&display=swap" rel="stylesheet">

  {{>styles}}
  
  <link
    rel="stylesheet"
    type="text/css"
    href="https://assets.sitescdn.net/answers-search-bar/v1.0/answers.css"
  />
  <script src="https://assets.sitescdn.net/answers-search-bar/v1.0/answerstemplates.compiled.min.js"></script>
  
<script>
    function initAnswers() {
      ANSWERS.init({
        apiKey: window.YEXT_TOKENS.passwordTokenTest.token,
        //visitor: window.YEXT_AUTH.visitor,
        experienceKey: "authorized-search-1",
        experienceVersion: "PRODUCTION",
        locale: "en", // e.g. en
        businessId: "3120545",
        templateBundle: TemplateBundle.default,
        onReady: function() {
          ANSWERS.addComponent("SearchBar", {
            container: ".search_form",
            name: "search-bar", //Must be unique for every search bar on the same page
            redirectUrl: "https://master-gambling--garage--roulette-pgsdemo-com.preview.pagescdn.com/",
            placeholderText: "Search...",
          });
        },
      });
    }
  </script>
    <script
    src="https://assets.sitescdn.net/answers-search-bar/v1.0/answers.min.js"
    onload="ANSWERS.domReady(initAnswers)"
    async
    defer
  ></script>   
</head>
    <div class="container mx-auto px-4">
        <body>
            
        {{>navbar}}

        <section class="bg-white py-8">
            <div class="container py-8 px-6 mx-auto">
                <a class="uppercase tracking-wide no-underline hover:no-underline font-bold text-gray-800 text-xl mb-8" href="#">About</a>
                <p class="mt-8 mb-8 text-xl">{{global.name}} is a new Initiative for Fall Release.</p>
                <p class="mt-8 mb-8 text-xl">Protect Your Site!</p>
            </div>
            <div class="search_form"></div>

        </section>

        </body> 
    </div>
</html>
